.expense-preview {
    display: grid;
    grid-template-areas:
        "img cat  amnt del"
        "img note date edit"
    ;
    grid-template-columns: 4rem 1fr 10rem max-content;

    align-items: center;
    column-gap: 1rem;
    row-gap: 0.3rem;

    margin-block: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 10px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    @include for-mobile-layout {
        column-gap: 0.5rem;
        grid-template-columns: max-content 1fr max-content max-content;
    }

    & img {
        grid-area: img;
        height: 2.5rem;
    }

    & .category {
        grid-area: cat;
        text-transform: capitalize;
    }

    & .notes {
        grid-area: note;
        display: -webkit-box;
        max-width: 200px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }

    & .amount {
        grid-area: amnt;
        justify-self: end;
    }

    & .date {
        grid-area: date;
        justify-self: end;
    }

    & .del-btn {
        grid-area: del;
        font-size: 1rem;
    }

    & .edit-btn {
        grid-area: edit;
    }

    & button {
        background: none;
        border: none;

        transition: transform 200ms;

        &:hover {
            transform: scale(1.2);
        }
    }

}