.expense-filter {
    gap: 1rem;
    margin-block: 1rem;
    grid-area: filter;

    & :is(input, select) {
        margin-left: 0.5rem;
        height: 1.5rem;
        font-size: 0.9rem;
        @include for-mobile-layout {
            margin-top: 0.3rem;
        }
    }

    & input {
        text-align: center;
    }
}